pkgng: {
  url: "pkg+https://pkgng.discdrive.bayphoto.com/${ABI}/{{ role }}/",
  enabled : true,
  mirror_type : "SRV",
  signature_type : "PUBKEY",
  pubkey : "/etc/pkg/pkgng.discdrive.bayphoto.com.pub",
}

